<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定了一个对应的Dao/Mapper接口-->
<mapper namespace="com.quan.dao.UserMapper">

    <!-- 结果集  -->
    <resultMap id="UserMap" type="User">
    <!--  column：数据库中的字段  property：实体类中的属性    -->
<!--        <result column="id" property="id"/>-->
<!--        <result column="name" property="name"/>-->
    <!--   什么不一致，就映射那一个即可！！！     -->
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultMap="UserMap">
        select * from mybatis_quan.user where id = #{id}
    </select>

    <!--  分页实现查询  -->
    <select id="getUserByLimit" parameterType="map" resultMap="UserMap">
        select * from mybatis_quan.user limit #{startIndex}, #{pageSize}
    </select>

    <select id="getUserByRowBounds" resultMap="UserMap">
        select * from mybatis_quan.user
    </select>


</mapper>